<footer class="site-footer">
  <div class="container">
    <ul class="navbar">
        <li><a class="fab fa-github" href="https://github.com/{{site.author.github}}" title="GitHub" target="_blank"></a></li>
        <li><a class="fab fa-linkedin-in" href="https://www.linkedin.com/in/{{site.author.linkedin}}" title="LinkedIn" target="_blank"></a></li>
        <li><a class="fas fa-meteor" href="https:///www.astrobin.com/users/{{site.author.astrobin}}" title="astrobin" target="_blank"></a></li>
        <li><a class="fas fa-envelope" href="mailto:pranay.kanwar@gmail.com" title="E-Mail" target="_blank"></a></li>
        <li><a class="fa fa-rss" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="RSS" target="_blank"></a></li>
    </ul>
  </div>
</footer>
