<footer class="site-footer">
  <div class="container">
    <ul class="navbar">
        <li><a class="fab fa-github" href="https://github.com/{{site.author.github}}" title="GitHub" target="_blank"></a></li>
        <li><a class="fab fa-linkedin-in" href="https://www.linkedin.com/in/{{site.author.linkedin}}" title="LinkedIn" target="_blank"></a></li>
        <li><a class="fab fa-instagram" href="https://www.instagram.com/{{site.author.instagram}}" title="Instagram" target="_blank"></a></li>
        <li><a class="fas fa-meteor" href="https:///www.astrobin.com/users/{{site.author.astrobin}}" title="astrobin" target="_blank"></a></li>
        <li><a class="fab fa-keybase" href="https://keybase.io/{{site.author.keybase}}" title="Keybase" target="_blank"></a></li>
        <li><a class="fas fa-envelope" href="mailto:pranay.kanwar@gmail.com" title="E-Mail" target="_blank"></a></li>
        <li><a class="fas fa-key" href="https://keybase.io/r4um/pgp_keys.asc?fingerprint=9d5adef21144237461c635c0e44ebf3fb4b1e122" title="pgp key" target="_blank"></a></li>
        <li><a class="fa fa-rss" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="RSS" target="_blank"></a></li>
    </ul>
  </div>
</footer>
